<nav class="site__nav">
	<ul class="nav__first">
		<li><button><img src="img/icons/icon-update.png" alt="update icon"> Windows Update</button></li>
		<hr>
		<li class="has-children">
			<button><img src="img/icons/icon-program.png" alt="programs icon"> Programs</button>
			{% if collections.programs %}
				<ul class="nav__second">
					{% for app in collections.programs %}
						<li><button {% if app.data.iframe %} data-iframe="{{app.data.iframe}}" data-title="{{ app.data.title }}" data-icon="{{ app.data.icon }}" class="js-load-iframe" {% endif %}><img src="img/icons/{{ app.data.icon }}" alt="{{ app.data.title }} icon">{{ app.data.title }}</button></li>
					{% endfor %}
				</ul>
			{% endif %}
		</li>
		<li class="has-children">
			<button><img src="img/icons/icon-documents.png" alt="documents icon"> Documents</button>
			{% if collections.documents %}
				<ul class="nav__second">
					{% for app in collections.documents %}
						<li><button><img src="img/icons/{{ app.data.icon }}" alt="{{ app.data.title }} icon">{{ app.data.title }}</button></li>
					{% endfor %}
				</ul>
			{% endif %}
		</li>
		<li class="has-children">
			<button><img src="img/icons/icon-settings.png" alt="settings icon"> Settings</button>
			{% if collections.settings %}
				<ul class="nav__second">
					{% for app in collections.settings %}
						<li><button><img src="img/icons/{{ app.data.icon }}" alt="{{ app.data.title }} icon">{{ app.data.title }}</button></li>
					{% endfor %}
				</ul>
			{% endif %}
		</li>
		<li class="has-children">
			<button><img src="img/icons/icon-search.png" alt="search icon"> Search</button>
			{% if collections.search %}
				<ul class="nav__second">
					{% for app in collections.search %}
						<li><button><img src="img/icons/{{ app.data.icon }}" alt="{{ app.data.title }} icon">{{ app.data.title }}</button></li>
					{% endfor %}
				</ul>
			{% endif %}
		</li>
		<li><button><img src="img/icons/icon-help.png" alt="help icon"> Help</button></li>
		<li><button><img src="img/icons/icon-run.png" alt="run icon"> Run...</button></li>
		<hr>
		<li><button><img src="img/icons/icon-logoff.png" alt="log off icon"> Log Off...</button></li>
		<li><button><img src="img/icons/icon-shutdown.png" alt="shut down icon"> Shut Down...</button></li>
	</ul>
</nav>