<nav class="site__nav">
	<ul>
		<li><button><img src="img/icons/icon-update.png" alt="update icon"> Windows Update</button></li>
		<hr>
		<li>
			<button><img src="img/icons/icon-program.png" alt="programs icon"> Programs</button>
			<ul></ul>
		</li>
		<li>
			<button><img src="img/icons/icon-documents.png" alt="documents icon"> Documents</button>
			<ul></ul>
		</li>
		<li>
			<button><img src="img/icons/icon-settings.png" alt="settings icon"> Settings</button>
			<ul></ul>
		</li>
		<li>
			<button><img src="img/icons/icon-search.png" alt="search icon"> Search</button>
			<ul></ul>
		</li>
		<li><button><img src="img/icons/icon-help.png" alt="help icon"> Help</button></li>
		<li><button><img src="img/icons/icon-run.png" alt="run icon"> Run...</button></li>
		<hr>
		<li><button><img src="img/icons/icon-logoff.png" alt="log off icon"> Log Off...</button></li>
		<li><button><img src="img/icons/icon-shutdown.png" alt="shut down icon"> Shut Down...</button></li>
	</ul>
</nav>