/* Colors
 *----------------------------------*/
$white: #fff;
$black: #111;

$primary: #e6e6fa;

$desktop-background: #3a6ea5;

$toolbar-background: #d3d0c7;
$toolbar-background-light: #f5f4f2;
$toolbar-background-dark: #4b4b4b;

/* Typography
 * ----------------------------------------------- */
@font-face {
  font-family: "Microsoft Sans Serif";
  src: url("../fonts/microsoft-sans-serif.ttf");
  font-weight: normal;
  font-style: normal;
}

@mixin microsoft-sans {
  font-family: "Microsoft Sans Serif", sans-serif;
}

/* Font Sizes
 *----------------------------------*/
$text-regular: 1.8rem;
$text-regular-mobile: 1.6rem;

$heading-1: 4.8rem;
$heading-2: 3.6rem;
$heading-3: 2.4rem;
$heading-4: 2rem;

@mixin button {
  @include reset-button;
  @include microsoft-sans;
  font-weight: 700;
  padding: 0.6rem;
  font-size: 2.1rem;
  background-color: $toolbar-background;
  border: 0.2rem solid $toolbar-background-light;
  border-bottom-color: $toolbar-background-dark;
  border-right-color: $toolbar-background-dark;
  line-height: 1.2;

  &:active,
  &.active {
    box-shadow: inset 2px 2px 2px 2px #3f3e40;
    border-bottom-color: $toolbar-background;
    border-right-color: $toolbar-background;
  }

  &:disabled {
  }

  &:focus {
  }

  &.type--icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;

    &::before {
      display: block;
      content: "";
      align-self: stretch;
      margin-right: 0.6rem;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      max-height: 100%;
      width: 100%;
      max-width: 4rem;
    }
  }
}

@mixin button--icon-only {
  @include reset-button;
  width: 100%;
  max-width: 3.6rem;
  height: 100%;
  max-height: 3.6rem;
  background-repeat: no-repeat;
  background-size: 2.6rem;
  background-position: center;
  aspect-ration: 1 / 1;

  &:active {
    box-shadow: inset 1px 1px 1px 1px #3f3e40aa;
  }
}

.button {
  @include button;
}

.button--icon-only {
  @include button--icon-only;
}

/* Other
 * ----------------------------------------------- */
@mixin shadows {
  border: 0.1rem solid $toolbar-background-light;
  border-bottom-color: $toolbar-background-dark;
  border-right-color: $toolbar-background-dark;
}

hr {
  margin: 0 auto;
  width: calc(100% - 0.6rem);
  background-color: $toolbar-background-dark;
  border-bottom: 1px solid $toolbar-background-light;

  &.type--vr {
    padding: 0;
    margin: 0 0.6rem;
    width: 1px;
    height: 100%;
    background-color: $toolbar-background-dark;
    opacity: 0.8;
  }

  &.type--grab {
    @include shadows;
    padding: 0;
    margin: 0 0.6rem;
    width: 0.3rem;
    height: 100%;
    max-height: 3rem;
    background-color: $toolbar-background;
  }

  + hr[class*="type"] {
    margin-left: 0;
  }
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.btn-window-control {
  @include shadows;
  width: 2rem;
  height: 2rem;
  background-color: $toolbar-background;
  position: relative;

  + .btn-window-control {
    margin-left: 0.3rem;
  }

  &.type--minimize {
    &::after {
      display: block;
      content: "";
      width: 50%;
      position: absolute;
      bottom: 0.2rem;
      left: 50%;
      height: 0.3rem;
      background-color: $black;
      transform: translateX(-50%);
    }
  }

  &.type--maximize {
    &::after {
      display: block;
      content: "";
      width: 80%;
      height: 80%;
      position: absolute;
      left: 50%;
      border: 0.2rem solid $black;
      border-top-width: 0.3rem;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &.type--close {
    &::before,
    &::after {
      display: block;
      content: "";
      width: 80%;
      height: 0.2rem;
      position: absolute;
      background-color: $black;
    }

    &::before {
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    }

    &::after {
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }
  }
}
