---
layout: default
siteTitle: "Windows Millennium"
title: "Desktop"
permalink: "/"
---

<ul class="desktop__apps">
		{% set classes = [] %}
	{% for app in collections.desktop %}
		<li>
			<button 
				class="
					{{ 'game' if app.data.game }}
					{{ 'js-load-iframe' if app.data.iframe }}
					{{ 'browser' if app.data.browser }}
				"
				{% if app.data.iframe %}data-iframe="{{app.data.iframe}}"{% endif %} 
				{% if app.data.title %}data-title="{{ app.data.title }}"{% endif %} 
				{% if app.data.icon %}data-icon="{{ app.data.icon }}"{% endif %}
			>
				<img src="img/icons/{{ app.data.icon }}" alt="{{ app.data.title }} icon">
				<p>{{ app.data.title }}</p>
			</button>
		</li>
	{% endfor %}
</ul>