/* Start Button
 * ----------------------------------------------- */
.start-button {
  width: 100%;
  max-width: 11rem;
  min-height: 100%;

  &::before {
    background-image: url("../img/logo-windows.png");
  }
}

.site-header {
  @include shadows;
  border-width: 0.3rem;
  padding: 0.6rem;
  height: 5rem;
  background-color: $toolbar-background;

  .container {
    display: flex;
    align-items: center;
    height: 100%;
  }
}
