/* Start Button
 * ----------------------------------------------- */
.start-button {
  width: 100%;
  max-width: 11rem;
  min-height: 100%;

  &::before {
    background-image: url("../img/logo-windows.png");
  }
}

/* Toolbar
 * ----------------------------------------------- */
.site-header {
  @include shadows;
  border-width: 0.3rem;
  padding: 0.6rem;
  height: 5rem;
  background-color: $toolbar-background;
  position: relative;

  .container {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

/* Navigation
 * ----------------------------------------------- */
.site__nav {
  @include shadows;
  display: none;
  padding-left: 4rem;
  position: absolute;
  bottom: 100%;
  left: 0;
  background-color: $toolbar-background;
  width: 100%;
  max-width: 36rem;
  border-width: 0.4rem;

  &.active {
    display: block;
  }

  //--- Windows Blue Text
  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 4rem;
    background: linear-gradient($black, #1b00ff);
  }

  //--- Shared Item Styles
  li {
    > button {
      @include reset-button;
      display: flex;
      align-items: center;
      width: 100%;
      text-align: left;
      font-size: 2rem;

      &:hover,
      &:focus {
        background-color: #0d17c0;
        color: $white;
      }

      > img {
        margin-right: 1rem;
        width: 100%;
      }
    }

    &.has-children {
      position: relative;

      > button {
        padding-right: 2.4rem;
      }

      > button::after {
        display: block;
        content: "";
        width: 0;
        height: 0;
        border: 0.8rem solid transparent;
        border-left-color: currentColor;
        position: absolute;
        top: 50%;
        right: 0.2rem;
        transform: translateY(-50%);
      }
    }
  }

  //--- Parent Menu Button
  .nav__first {
    > li > button {
      padding: 0.4rem;

      &:hover + ul,
      &:focus + ul {
        display: block;
      }
    }

    > li > button > img {
      max-width: 6rem;
    }
  }

  .nav__second {
    @include shadows;
    display: none;
    position: absolute;
    top: 50%;
    left: calc(100% - 0.3rem);
    background-color: $toolbar-background;
    border-width: 0.4rem;
    width: 100%;
    max-width: 30rem;
    transform: translateY(-50%);

    &:hover,
    &:focus {
      display: block;
    }

    > li {
    }

    > li > button {
      padding: 0.3rem;
    }

    > li > button > img {
      max-width: 2rem;
    }
  }
}
