<!DOCTYPE html>
<html lang="en">
	{% include 'head.njk'%}
	<body>
		{% include 'header.njk' %}
		<main>
			{{ content | safe }}
		</main>

		<script src="/js/main.js"></script>
	</body>

	<template id="template-game">
		<section class="game-window window">
			<header class="window__header">
				<img class="window__icon" src="" alt="">
				<h2 class="window__title"></h2>

				<button class="btn-window-control type--minimize"><span class="sr-only">Minimize</span></button>
				<button class="btn-window-control type--close"><span class="sr-only">Close</span></button>
			</header>

			<iframe src="" width="621" height="513"></iframe>
		</section>
	</template>
</html>
